.container {
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
    background: linear-gradient(
      to bottom right,
      rgba(85, 181, 216, 0),
      rgb(77, 141, 182)
    );
    overflow: auto;
  }
  
  .vectorImage {
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.3));
    border-radius: 40%;
    animation: vectorImageAnimation 1.5s infinite ease-in-out alternate-reverse;
  }
  

  
  @keyframes vectorImageAnimation {
    to {
      transform: translateY(-10px);
    }
  }
  
  .brandsBanner > svg {
    font-size: 2rem;
    transition: color 0.5s;
  }
  
  .brandsBanner > svg:hover {
    color: rgb(232, 232, 61);
  }
  .container2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.3));
  }
  .container2 > video {
    border: 2px solid rgb(245, 130, 149);
    width: 60%;
    border-radius: 5px;
    outline: none;
  }

  
  
  .course {
    width: 250px;
    margin-bottom: 1rem;
    transition: all 0.5s;
  }
  .course:hover {
    transform: translateY(-10px);
  
  }
  
  .dataBox{
   
    transition: all 0.5s;
    
  }
  .dataBox :hover{
    transform: translateY(-10px);
  
  }